.bottomNav {
  background-color: #f3f3f3;
  border-radius: 30px 30px 10px 10px;
  height: 40px;
  width: 290px;
  overflow: hidden;
  z-index: 1;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  bottom: 0;
  position: fixed;
  justify-content: space-between;
  margin-bottom: 10px;
}
