.topNav {
  border-radius: 0 0 30px 30px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f3f3f3;
  display: flex;
  top: 0;
  position: sticky;
  justify-content: space-between;
}
