<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- ========== NAVIGATION BAR ============== -->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#profile">
          <img src="../static/icons/profile.png" alt="" class="nav__logo" />
        </a>
        <a href="./index.html">
          <img src="../static/icons/SimacLogo.png" alt="" class="nav__logo" />
        </a>
        <a href="./#achievement">
          <img src="../static/icons/Achievement.png" alt="" class="nav__logo" />
        </a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                <i class="bx bx-home-alt nav__icon"></i>
                <span class="nav__name">Home</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#about" class="nav__link">
                <i class="bx bxs-hand-up nav__icon"></i>
                <span class="nav__name">Swipe</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#skills" class="nav__link">
                <i class="bx bx-calendar bx-sm nav__icon"></i>
                <span class="nav__name">Calendar</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#portfolio" class="nav__link">
                <i class="bx bx-chat nav__icon"></i>
                <span class="nav__name">Chat</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
