<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/topnav.css" />
    <title>TopNav</title>
  </head>
  <body>
    <nav class="topNav">
      <a class="active" href="#profile"
        ><img src="../static/icons/profile.png"
      /></a>
      <a href="#home"><img src="../static/icons/SimacLogo.png" /></a>
      <a href="#achievement"><img src="../static/icons/Achievement.png" /></a>
    </nav>
  </body>
</html>
